.navbar-custom {
    background-color: #E3CAAB;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #77372B;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #77372B;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    /*color: #BC6A2B;*/
    color: #38624D;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(119,55,43, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #77372B;
  border-radius: 7;
}

/*-----Dropdown Menu --*/
.navbar-custom .navbar-nav .dropdown-menu  {
  background-color: #E3CAAB;
  color: red;
}
.navbar-custom .navbar-nav .dropdown-menu>a  {
  color: #77372B;
  font-weight: bold;
}
.navbar-custom .navbar-nav .dropdown-menu>a:hover,.navbar-custom .navbar-nav .dropdown-menu>a:focus  {
  color: #38624D;
}

.dropdown-menu>a:hover{background:#D1AD80 }
